.c-button {
  display: block;
  min-width: 0;
  width: auto;
  // width: fit-content;
  height: 4.8rem;
  padding: (4 * $indent) (6 * $indent);
  border-radius: calc(4.8rem / 2);
  background-color: $color-primary-black;
  color: $color-primary-white;
  @include type-button-m;
  @include type-overflow;
  text-align: center;
  box-shadow: inset 0 0 0 1px $color-primary-black;
  cursor: pointer;

  &--full-width {
    width: 100%;
  }

  &--small {
    height: 3.2rem;
    padding: (2 * $indent) (6 * $indent);
    @include type-button-s;
  }

  &--angulate {
    border-radius: 0;
  }

  &--icon-download {
    padding-right: calc((6 * $indent) + 1.6rem + (12 * $indent));
    background-image: url("/assets/icons/download.svg");
    background-repeat: no-repeat;
    background-position: right (6 * $indent) center;
    background-size: 1.6rem;
  }
}

.c-button-food {
  display: block;
  min-width: 0;
  width: auto;
  // width: fit-content;
  height: 4.8rem;
  padding: (4 * $indent) (6 * $indent);
  border-radius: calc(4.8rem / 2);
  background-color: $color-utility-info-blue;
  color: $color-primary-white;
  @include type-button-m;
  @include type-overflow;
  text-align: center;
  // box-shadow: inset 0 0 0 1px $color-primary-black;
  cursor: pointer;

  &--full-width {
    width: 100%;
  }

  &--small {
    height: 3.2rem;
    padding: (2 * $indent) (6 * $indent);
    @include type-button-s;
  }

  &--angulate {
    border-radius: 0;
  }

  &--icon-download {
    padding-right: calc((6 * $indent) + 1.6rem + (12 * $indent));
    background-image: url("/assets/icons/download.svg");
    background-repeat: no-repeat;
    background-position: right (6 * $indent) center;
    background-size: 1.6rem;
  }
}

.c-button--outlined--noTransition {
  background-image: url("/assets/icons/arrow-right--black.svg");
  background-color: transparent;
  color: $color-primary-black;
  background-repeat: no-repeat;
  background-position: -2.4rem center;
  background-size: 2.4rem;
}

a.c-button,
a.c-button__label {
  text-decoration: none;
}

.c-button--primary {
  background-image: url("/assets/icons/arrow-right--white.svg");
  background-repeat: no-repeat;
  background-position: -2.4rem center;
  background-size: 2.4rem;
  transition: background-position $motion;
}

.c-button--outlined {
  background-image: url("/assets/icons/arrow-right--black.svg");
  background-color: transparent;
  color: $color-primary-black;
  background-repeat: no-repeat;
  background-position: -2.4rem center;
  background-size: 2.4rem;
  transition: background-position $motion;
}



.c-button--primary:hover,
.c-button--outlined:hover {
  background-position: center center;
}

.c-button--primary .c-button__label,
.c-button--outlined .c-button__label {
  position: relative;
  left: 0;
  transition: left $motion;
  @include type-overflow;
}

.c-button--outlined-icon .c-button__label {
  @include type-overflow;
}

.c-button--primary:hover .c-button__label,
.c-button--outlined:hover .c-button__label {
  left: calc(100% + (6 * $indent) * 2);
}

.c-button--outlined-icon {
  padding-right: calc((6 * $indent) + 1.6rem + (12 * $indent));
  background-color: $color-primary-white;
  background-image: url("/assets/icons/arrow-right--black.svg");
  background-repeat: no-repeat;
  background-position: right (6 * $indent) center;
  background-size: 1.6rem;
  color: $color-primary-black;
}

.c-button__label {
  display: block;
}
