@font-face {
  font-family: "Knockout";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/knockout-32-junior.woff2") format("woff2");
}

@font-face {
  font-family: "Knockout";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/knockout-33-junior.woff2") format("woff2");
}

@font-face {
  font-family: "Knockout";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/knockout-34-junior.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/montserrat-regular.woff2") format("woff2");
}
